.projects-main-div{
    position: relative;
    display: flex;
    /* overflow: scroll; */
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.557);
    border: 2px solid gray;
    border-radius: 20px;
    width: 80vw;
    height: 80vh;
}

.projects-intro{
    height: 15vh;
    width: 25vw;
}
.projects-and-searchbar-container{
    overflow: scroll;
}
.projects-container{
    position: absolute;
    position: relative;
    top: 3vh;
    height-min: 65vh;
    width: 55vw;
    /* float: right; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    /* justify-content: center; */
}

.searchbar-main-div{
    position: relative;
    width: 55vw;
    height: 25px;
    /* position: fixed; */
}

.searchbar-input{
    position: absolute;
    width: 30vw;
    height: 20px;
    top: 10px;
    left: 1vw;
    color: inherit;
    text-decoration: inherit;
    background-color: rgba(0, 0, 0, 0.557);
}

.tech-dropdown{
    left: 33vw;
    top: 11px;
    border: 2px solid gray;
    border-radius: 20px;
    position: absolute;
    padding: 2px;
}