.home-main-div {

    font-family: AnamaticSC;
  position: relative;
  display: flex;
  /* overflow: scroll; */
  flex-direction: column;
  background-image: radial-gradient(
    rgba(6, 11, 69, 0.596), rgb(12, 17, 41) 120%
  );
  border: 2px solid gray;
  border-radius: 20px;
  width: 80vw;
  height: 80vh;
  overflow: scroll;
}
.hr-line{
    width: 70%;
}

.home-name {
  /* position: absolute; */
  top: 10px;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* padding: -10px -10px; */
  margin: 3px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  /* background: linear-gradient(to left, rgba(6, 11, 69, 0.196) 0, rgb(2, 3, 19, .9) 50%, rgba(6, 11, 69, 0.196) 100%); */
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 300s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 800;
  font-size: 86px;
  font-family: Monoton;
  text-decoration: none;
  white-space: nowrap;
}

.developer-info{
    font-family: AnamaticSC;
    /* position: absolute; */
    font-size: 40px;

  /* transform: translate(-50%, -50%); */
    left: 50%;
    top: 170px;
}
.tech-experience-list{
    position: relative;
}
.general-info-div{
    /* position: absolute; */
    top: 200px;
    margin: 15px;
    font-family: Oswald;
    font-size: 20px;

  /* transform: translate(-50%, -50%); */
    align-items: center;
    /* display: none; */
    display: flex;
    flex-direction: column;
}

.info-block {
    width: 99%;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    height: 300px;
}

/* vector images offset for each display div. */
.info-image{
    max-height: 250px;
    height: auto;
    padding: 2.5%;
    align-self: center;
    margin: auto;
}
.image-holder{
    align-content: left;
    width: 35%;
    margin: auto;
}

.info-blurb{
    text-align: justify;
    min-width: 50%;
    max-width: 60%;
    margin: auto;

}
.tech-list{
    margin: auto;
    width: 70%;
}
.experience-div{

    font-family: Oswald;
    font-size: 20px;
 /* position: absolute; */
 /* top: 300px; */
 /* display: none; */
}

.jobs-description{
    width: 50%;
}

.jobs-show{
    width: 40%;
}

.job-name{
    font-size: 36px;
}

@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Monoton";
  src: url("./fonts/BungeeShade-Regular.ttf");
}
@font-face {
  font-family: "AnamaticSC";
  src: url("./fonts/AmaticSC-Regular.ttf");
}

@keyframes shine {
  /* 0%
    {background-position: 0px} */
  /* 30%
    {background-position: 150x} */
  /* 50%
    {background-position: 300px} */
  /* 75%
    {background-position: 450px} */
  100% {
    background-position: 3000vw;
  }
}
