.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.rocket-dane {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .rocket-dane {
    animation: App-logo-spin infinite 10s linear;
  }
}

.construction-pika{
  width: 20vw;;
  border-radius: 12px;
  border: 3px solid #121418;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* link styles */

.link {
  color: inherit;
  text-decoration: inherit;
}
.home-link{
  border: 3px solid #c8c8c831;
  border-radius: 20px;
  padding: 10px;
  font: 1.3rem Inconsolata, monospace;
  background-color: rgba(6, 11, 69, 0.596);
}
.devquarium-link{
  border: 3px solid #0d032989;
  border-radius: 20px;
  padding: 10px;
  font: 1.3rem Atlantis, monospace;
  color: #0d0329;
  background-color: rgba(117, 203, 223, 0.829);
  background-image: url("./components/devquarium/images/bubbles.gif");
}

.projects-link{
  border: 3px solid #c8c8c831;
  border-radius: 20px;
  padding: 10px;
  font: 1.3rem Inconsolata, monospace;
  background-color: rgba(128, 128, 128, 0.411);
}

.IRLpg-link{
  border: 3px solid #c8c8c831;
  border-radius: 20px;
  padding: 10px;
  font: bold 1.3rem Brush Script MT, monospace;
  background-color: rgba(169, 35, 5, 0.411);
}

.git-1{
  height: 20px;
  padding-left: 3px;
  padding-right: 1px;
}

.show-terminal{
  /* these two lines remove previous styling for link */
  color: inherit;
  text-decoration: inherit;
    /* ^^ these two ^^ */

  padding: 10px;
  border: 3px solid #c8c8c831;
  border-radius: 20px;
  position: relative;
  text-align: left;
  background-color: rgb(10, 15, 36);
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), rgb(12, 17, 41) 120%
  );
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

/* Terminal Styling */

.terminal-div{
  padding: 10px;
  border: 3px solid #C8C8C8;
  border-radius: 20px;
  position: relative;
  text-align: left;
  overflow-x: hidden;
  background-color: rgb(10, 15, 36);
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), rgb(12, 17, 41) 120%
  );
  height: 80vh;
  width: 80vw;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}


.terminal-div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 60vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

.terminal-div::selection {
  background: #0080FF;
  text-shadow: none;
}

.terminal-input-div {
  width: 100%;
  height: 5vh;
  position: absolute;
    background-color:transparent;
  bottom: 5px;
  left: 0px;
}

.terminal-div p {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.terminal-file-path{
  position: absolute;
  bottom: 4px;
  left: 5px;
}

.terminal-input{
  position: absolute;
  border:hidden;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  bottom: 4px;
  left: 400px;
  height: 20px;
  width: 60%;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

.terminal-input::placeholder{

  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

.terminal-input-placeholder{
  animation: 
    typingplaceholder 3.5s steps(40, end),
    blinker 1s linear infinite;
  position: absolute;
  bottom: 4px;
  left: 400px;
  visibility: hidden;
  overflow: hidden;
  overflow-x: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation-delay: 13500ms;
  -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
}

/* type effect delayed timer setting for initial terminal readout */

.webpack-compiling{
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end);
    animation-delay: 100ms;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
}

.webpack-compiled {
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(40, end);
  animation-delay: 2500ms;
  -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
}

.terminal-hash {
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end);
  animation-delay: 4400ms;
  -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
}

.terminal-time {
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end);
  animation-delay: 5800ms;
  -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
}

.terminal-enter-commands {
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end);
  animation-delay: 6800ms;
  -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
}

.terminal-commands {
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end);
  animation-delay: 8800ms;
  -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
}

.terminal-file-path {
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .00em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end);
  animation-delay: 12000ms;
  -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
}



/* End timer sequential loading delay */

/* single line type-writer terminal effect */
.terminal-display {
  width: 100%;
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(40, end);
  -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
}

/* terminal output timer delay sequences */
.help-1{
  animation-delay: 3000ms;
}
.limmerick-2{
  animation-delay: 2000ms;
}
.limmerick-3{
  animation-delay: 4000ms;
}
.limmerick-4{
  animation-delay: 5000ms;
}
.limmerick-5{
  animation-delay: 6300ms;
}
.limmerick-6{
  animation-delay: 11300ms;
}

.commands-2{
  animation-delay: 2500ms;
}
.commands-3{
  animation-delay: 6000ms;
}
.commands-4{
  animation-delay: 7500ms;
}
/* The typing effect */
@keyframes typing {
  from { visibility: visible; width: 0 }
  to { visibility: visible; width: 100% }
}
@keyframes typingplaceholder {
  from { visibility: visible; width: 0 }
  to { visibility: visible; width: 75% }
}

/* Blinking "click here" text animation */
@keyframes blinker {
  0%{     color: white;    }
    39%{    color: white; }
    60%{    color: transparent; }
    79%{    color:transparent;  }
    100%{   color: white;    }
}

@font-face {
  font-family: "Atlantis";
  src: url("./components/devquarium/fonts/AtlantisInlineGrunge.ttf");
}