:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  margin-top: 60px; /* Matches the height of your navbar */
  padding: 2rem;
}

a {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: inherit;
}
a:hover {
  color:  rgb(12, 17, 41);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}



